.container {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); /* Ajusta el color y la opacidad según sea necesario */
  overflow: hidden; /* Evita que el sombreado se extienda más allá del borde del cuadro */
  width: 300px; /* Ajusta el ancho del cuadro según sea necesario */
}

.top {
  display: flex;
  align-items: center;
  padding: 10px;
}

.imgContainer {
  width: 90px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 90px; /* Ajusta la altura de la imagen según sea necesario */
  border-radius: 50%; /* Para hacer un círculo si la imagen es cuadrada */
  overflow: hidden;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.date {
  font-size: 12px;
  margin-left: auto; /* Mueve la fecha al lado derecho */
}

.bottom {
  padding: 10px;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  color: #777777;
}

.link {
  text-decoration: none;
  color: #0070f3; /* Cambia el color del enlace según sea necesario */
  font-weight: bold;
}
